<div class="search-form-container">
  <form [formGroup]="searchForm">
    <label for="search">Search: </label>
    <input
      matInput
      id="search"
      class="search-input"
      type="search"
      formControlName="search"
      placeholder="Search for products"
      aria-label="Search"
    />

    <button
      [ngClass]="
        searchForm.get('search')?.value
          ? 'clear-btn-visible'
          : 'clear-btn-hidden'
      "
      mat-icon-button
      aria-label="Clear search"
      (click)="clearSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </form>
</div>
