<mat-card class="product-list-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="product-brand">{{
      product.brand ?? 'No Brand'
    }}</mat-card-title>
    <div class="product-title-wrapper">
      <mat-card-subtitle class="product-title">{{
        product.title
      }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    mat-card-image
    [src]="product.thumbnail"
    [alt]="'Product shot of ' + product.title"
  />
  <mat-card-content>
    <p class="product-description">
      {{
        product.description.length > productDescriptionCutOff
          ? product.description.substring(0, productDescriptionCutOff) + '...'
          : product.description
      }}
    </p>
    <div class="product-price-wrapper">
      <p class="product-price">${{ product.price }}</p>
    </div>
  </mat-card-content>
</mat-card>
