@import '../../../../styles/variables.scss';

.card-header {
  width: 100%;
  padding: $padding-s $padding-s $padding-xs $padding-s;
  display: flex;
  flex-direction: column;

  .product-title-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .product-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.card-content {
  width: 100%;
  padding: $padding-xs $padding-s $padding-s $padding-s;

  .product-description {
    min-height: calc(3 * $p-line-height);
  }

  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-price-wrapper {
  display: flex;
  justify-content: flex-end;

  .product-price {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
}
