@import '../../../../styles/variables';

h2,
h3 {
  margin: 0;
}

.product-details-container {
  padding: $padding-s 0;
  display: grid;
  width: 100%;
  height: 75vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 60px 60px 1fr;
  grid-template-areas:
    'brand .'
    'title price-and-status'
    'image various-details';
  gap: $gap-s;

  .product-details-brand {
    grid-area: brand;
  }

  .product-details-title {
    grid-area: title;
  }

  .product-details-price-and-status-container {
    grid-area: price-and-status;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $gap-l;

    .product-details-price {
      color: $color-success;
    }
  }

  .product-details-image-wapper {
    grid-area: image;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 1px solid $color-secondary;
    border-radius: $border-radius;

    img {
      max-width: 100%;
      object-fit: fit;
    }
  }

  .various-details-container {
    grid-area: various-details;

    .product-details-tag-list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
