.product-details-container {
  display: grid;
  grid-template-columns: 1fr;
  /* prettier-ignore */
  grid-template-rows: minmax(40px, max-content) minmax(60px, max-content) minmax(60px, max-content) minmax(40px, max-content) 4fr minmax(60px, max-content);
  grid-template-areas:
    'back-btn'
    'brand'
    'title'
    'price-and-status'
    'image'
    'various-details';

  @media (min-width: 769px) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: minmax(60px, max-content) minmax(60px, max-content) 1fr;
    grid-template-areas:
      'brand back-btn'
      'title price-and-status'
      'image various-details';
  }

  .back-btn-wrapper {
    grid-area: back-btn;
  }

  .product-details-brand {
    grid-area: brand;
  }

  .product-details-title {
    grid-area: title;
  }

  .product-details-price-and-status-container {
    grid-area: price-and-status;
  }

  .product-details-image-container {
    grid-area: image;
  }

  .various-details-container {
    grid-area: various-details;
  }
}
