<section class="product-details-container">
  <div class="back-btn-wrapper">
    <ng-content></ng-content>
  </div>

  <h2 class="product-details-brand">
    {{ productDetails()?.brand ?? 'No brand' }}
  </h2>

  <h3 class="product-details-title">
    {{ productDetails()?.title ?? 'No title' }}
  </h3>

  <div class="product-details-price-and-status-container">
    <p class="product-details-price">
      ${{ productDetails()?.price ?? 'Priceless ;)' }}
    </p>
    <p class="product-details-status">
      {{ productDetails()?.availabilityStatus ?? 'Availability unknown' }}
    </p>
  </div>

  <div class="product-details-image-container" #imageContainer>
    @defer {
      <img
        [ngSrc]="productDetails()?.images?.[0] ?? ''"
        [width]="imageEdgeLength"
        [height]="imageEdgeLength"
        [alt]="productDetails()?.title"
        priority
      />
    } @loading (minimum 300ms) {
      <app-skeleton
        [width]="skeletonWidth"
        [height]="skeletonHeight"
      ></app-skeleton>
    }
  </div>

  <div class="various-details-container">
    <h4>Tags</h4>
    <ul class="product-details-tag-list">
      @for (tag of productDetails()?.tags ?? []; let idx = $index; track idx) {
        <mat-chip class="product-details-tag">{{ tag }}</mat-chip>
      }
    </ul>

    <h4>Description</h4>
    <p>{{ productDetails()?.description ?? 'No description' }}</p>
  </div>
</section>
