@import '../../../../styles/variables.scss';

h1 {
  margin: 0;
  line-height: 1;
}

.header-container {
  background-color: $color-primary;
  position: sticky;
  top: 0;
  z-index: 10;
  height: $header-height;
  padding: 0 $padding-s;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $breakpoint-m) {
    padding: 0 $padding-l;
  }

  .logo-and-title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
      display: flex;
      align-items: center;
      img {
        height: 3.5rem;
      }
    }
    .shop-title {
      display: none;
      font-size: 1.5rem;
      font-family: Playwrite, Roboto, sans-serif;
      color: $color-white;
      @media (min-width: $breakpoint-m) {
        display: block;
      }
    }
  }
}
