@import '../../../../styles/variables.scss';

@keyframes backgroundColorChange {
  0% {
    background-color: $color-skeleton-1;
  }
  50% {
    background-color: $color-skeleton-2;
  }
  100% {
    background-color: $color-skeleton-1;
  }
}

.skeleton {
  animation: backgroundColorChange 1000ms ease-in-out infinite;
}
