$padding-xs: 0.5rem; // p-2
$padding-s: 1rem; // p-4
$padding-l: 2rem; // p-8

$gap-xs: $padding-xs;
$gap-s: $padding-s;
$gap-l: $padding-l;

$p-line-height: 1.5rem;

$color-primary: rgba(104, 192, 210, 1);
$color-secondary: rgba(169, 196, 120, 1);

$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-white: #fff;
$color-black: #000;

$color-border: #c4c6d0;

$color-disabled: #99a1a8;

$color-skeleton-1: #f2f2f2;
$color-skeleton-2: #dfdfdf;

$border-radius: 0.5rem;

// Breakpoints
$breakpoint-m: 769px;
$breakpoint-l: 1025px;
$breakpoint-xl: 1201px;

$product-list-header-height-s: calc(60px + 2 * #{$padding-xs});
$product-list-header-height-l: 125px;

$product-list-page-margin-top-s: calc(
  #{$product-list-header-height-s} - #{$padding-l}
);
$product-list-page-margin-top-l: calc(
  #{$product-list-header-height-l} - #{$padding-s}
);

$header-height: calc(2rem + 2 * $padding-s);
