$padding-xs: 0.5rem;
$padding-s: 1rem;
$padding-l: 2rem;

$gap-xs: $padding-xs;
$gap-s: $padding-s;
$gap-l: $padding-l;

$p-line-height: 1.5rem;

$color-primary: #005cbb;
$color-secondary: #4f7a6c;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;

$color-white: #fff;

$border-radius: 0.5rem;
