@import '../../../../styles/variables.scss';

button {
  text-transform: uppercase;
}

.mat-mdc-outlined-button:not(:disabled) {
  background-color: $color-primary;
  border-color: $color-white;
  color: $color-white;
}

.mat-mdc-outlined-button[disabled],
.mat-mdc-outlined-button.mat-mdc-button-disabled {
  color: $color-disabled;
  border-color: $color-disabled;
  border-style: dotted;
}

/* .not-found-page-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
} */
