@if (isLoading()) {
  <app-loading-spinner></app-loading-spinner>
}

@if (productDetails() && !retrievalError()) {
  <app-product-details
    [productDetails]="productDetails"
    [retrievalError]="retrievalError"
  >
    <button
      class="w-40 rounded-xl bg-teal-500 p-2 uppercase text-slate-100"
      (click)="navigateBackToProductListPage()"
    >
      back
    </button>
  </app-product-details>
} @else {
  <app-error-ui [errorMessage]="retrievalError">
    <button
      class="w-40 rounded-xl bg-teal-500 p-2 uppercase text-slate-100"
      (click)="retryLoadingProductDetails()"
      [disabled]="didRetryLoading"
    >
      retry
    </button>
    <button
      class="w-40 rounded-xl bg-teal-500 p-2 uppercase text-slate-100"
      (click)="navigateBackToProductListPage()"
    >
      back
    </button>
  </app-error-ui>
}
