<div class="flex flex-col w-12/12 min-h-full overflow-scroll">
  @if (products().length > 0) {
    <ul class="product-list">
      @for (product of products(); track product.id) {
        <a
          [routerLink]="['/product']"
          [queryParams]="{ id: product.id }"
          class="product-list-entry-link"
        >
          <app-product-list-entry [product]="product"></app-product-list-entry
        ></a>
      }
    </ul>
  } @else {
    <div class="flex flex-col justify-center items-center w-12/12 min-h-full">
      <p>¯\_(ツ)_/¯</p>
      <p>No products found please try another search term.</p>
    </div>
  }
</div>
