<div class="product-list-container">
  @if (products().length > 0) {
    <ul class="product-list">
      @for (product of products(); track product.id) {
        <a
          [routerLink]="['/product']"
          [queryParams]="{ id: product.id }"
          class="product-list-entry-link"
        >
          <app-product-list-entry [product]="product"></app-product-list-entry
        ></a>
      }
    </ul>
  } @else {
    <div class="product-list-empty-container">
      <p class="product-list-empty">
        No products found please try another search term
      </p>
    </div>
  }
</div>
