@import '../../../../styles/variables.scss';

.poduct-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.product-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  .product-list-entry-link {
    text-decoration: none;
    color: unset;
    cursor: pointer;
  }
}

.product-list-error-container,
.product-list-empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 100%;
  border-radius: $border-radius;
  border: 5px dashed $color-warning;
}
