<div class="splash-page-container page-container">
  <img
    src="public/images/nullish_necessities_06.svg"
    alt="The Nullish Necissities logo"
  />

  <h1>Nullish Necessities</h1>
  <h2>You need them, but can't quite get them.</h2>

  <div class="splash-page-action-container">
    <app-search-form [isSplashPageSearch]="true"></app-search-form>
    <button class="search-btn" (click)="handleSearchBtn()">search</button>
    <a class="browse-product-list-link" routerLink="/products">browse</a>
  </div>
</div>
