<div class="splash-page-container page-container">
  <img
    src="public/images/nullish_necessities_06.svg"
    alt="The Nullish Necissities logo"
  />

  <h1 class="text-6xl mb-12">Nullish Necessities</h1>
  <h2 class="text-2xl">You need them, but can't quite get them.</h2>

  <div class="splash-page-action-container">
    <app-search-form [isSplashPageSearch]="true"></app-search-form>
    <button
      class="bg-teal-500 text-slate-100 p-2 w-44 rounded-xl uppercase flex justify-center"
      (click)="handleSearchBtn()"
    >
      search
    </button>
    <a
      class="bg-teal-500 text-slate-100 p-2 w-44 rounded-xl uppercase flex justify-center"
      routerLink="/products"
      >browse</a
    >
  </div>
</div>
