@import '../../../../styles/variables.scss';

.paginator-and-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}
