@import '../../../../styles/variables.scss';

button {
  text-transform: uppercase;
}

.mat-mdc-outlined-button:not(:disabled) {
  background-color: $color-primary;
  border-color: $color-white;
  color: $color-white;
}

.mat-mdc-outlined-button[disabled],
.mat-mdc-outlined-button.mat-mdc-button-disabled {
  color: $color-disabled;
  border-color: $color-disabled;
  border-style: dotted;
}

.paginator-and-search-wrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: $color-white;
  width: calc(100% - 2 * $padding-s);
  height: $product-list-header-height-l;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: $padding-xs 0;

  @media (min-width: $breakpoint-m) {
    width: calc(100% - 2 * $padding-l);
    height: $product-list-header-height-s;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $gap-s;

    app-search-form,
    app-paginator {
      width: 50%;
    }
  }
}

.product-list-wrapper {
  margin: $product-list-page-margin-top-l 0 0 0;

  @media (min-width: $breakpoint-m) {
    margin: $product-list-page-margin-top-s 0 0 0;
  }
}
