@import 'styles/variables';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: Roboto;
  src: url('./../public/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
}

@font-face {
  font-family: Inconsolata;
  src: url('./../public/fonts/Inconsolata-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: Playwrite;
  src: url('./../public/fonts/PlaywriteCL-VariableFont_wght.ttf');
}

html,
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  overscroll-behavior: none;
}

main {
  width: 100%;
  height: 100%;
  padding: $padding-s;
  @media (min-width: $breakpoint-m) {
    padding: $padding-l;
  }
  overflow: scroll;
}

ul {
  list-style-type: none;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
