/* Angular Material specific styles */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Own global styles */

main {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  @media (min-width: 1200px) {
    padding: 2rem;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
